#version: '3.9'
volumes:
  shared-workspace:
    name: "distributed-file-system"
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./

services:
  # Spark Master
  spark-master:
    image: spark-master:3.5.1
    container_name: spark-master
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.master.Master 
      --host spark-master --port 7077 --webui-port 8080"
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - shared-workspace:/opt/workspace
    networks:
      - spark-net
    user: root

  # Spark Worker 1
  spark-worker-1:
    image: spark-worker:3.5.1
    container_name: spark-worker-1
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077 --webui-port 8081"
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    volumes:
      - shared-workspace:/opt/workspace
    networks:
      - spark-net
    user: root

  # Spark Worker 2
  spark-worker-2:
    image: spark-worker:3.5.1
    container_name: spark-worker-2
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077 --webui-port 8082"
    depends_on:
      - spark-master
    ports:
      - "8082:8082"
    volumes:
      - shared-workspace:/opt/workspace
    networks:
      - spark-net
    user: root

  # JupyterLab + PySpark
  jupyter:
    image: jupyterlab:4.2.5-spark-3.5.1
    container_name: jupyter-lab
    ports:
      - "8888:8888"
    volumes:
      - shared-workspace:/opt/workspace
    working_dir: /opt/workspace
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - PYSPARK_PYTHON=python3
    depends_on:
      - spark-master
      - spark-worker-1
      - spark-worker-2
    networks:
      - spark-net
    user: root

  # Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - spark-net

  # Kafka Broker
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
    depends_on:
      - zookeeper
    networks:
      - spark-net

  # Kafka UI
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    depends_on:
      - kafka
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge